# Database
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

# Cookie
COOKIE_ACCESS_TOKEN_EXPIRATION_TIME=
COOKIE_ACCESS_TOKEN_NAME=

# JWT
JWT_SECRET=
JWT_EXPIRATION_TIME=
JWT_COOKIE_NAME=

# API_AI
API_AI_KEY=